<div class="content-container">
  <h1>Your Quiz Results</h1>

  <% if @score.is_a?(Integer) %>
    <h2>Your Score: <%= @score %></h2>

    <ul>
      <% @results.each do |result| %>
        <li>
          <h3><%= result[:question]["content"] %></h3>
          <% class_name = result[:correct] ? 'correct' : 'incorrect' %>
          <p class="<%= class_name %>">
            <%= result[:correct] ? 'Correct!' : 'Incorrect!' %>
            <% unless result[:correct] %>
              <span class="<%= class_name %>">Your Answer:</span>
              <span>
                <% if result[:question]["question_type"] == 'Multiple Choice' %>
                  <% user_answer = session["quiz_#{params[:id]}_user_answers"]["q#{result[:question]["id"]}_answer"] %>
                  <% unless user_answer.blank? %>
                    <%= user_answer.join(', ') %>
                  <% end %>
                <% else %>
                  <%= session["quiz_#{params[:id]}_user_answers"]["q#{result[:question]["id"]}_answer"] %>
                <% end %>
              </span>
            <% end %>
          </p>
          <p>
            <span class="<%= class_name %>">Correct Answer:</span>
            <span class="<%= class_name %>">
                <% if result[:question]["question_type"] == 'Multiple Choice' %>
                <% correct_choices = result[:question].answers.select(&:correct?).map(&:choice) %>
                <%= correct_choices.join(', ') %>
                <% else %>
                <%= result[:question]["answer"] %>
                <% end %>
            </span>
          </p>
        </li>
      <% end %>
    </ul>
    <% if @quiz.creator.present? %>
      <p style="background-color: crimson; color: #f1f1f1; font-size: 0.9rem">Quiz created by: <%= @quiz.creator.first_name %>, <%= @quiz.creator.last_name %></p>
    <% end %>
    <%# Big quiz creator and info table %>
    <table style="font-size: 12px;">
      <thead>
        <tr>
          <th>Test ID</th>
          <th>Test Title</th>
          <th>Creator ID</th>
          <th>Creator First Name</th>
          <th>Creator Last Name</th>
          <th>Creator e-mail</th>
          <th>Quiz Take Date / Quiz created_at</th>
          <th>Correct Answers</th>
          <th>Total Questions</th>
        </tr>
      </thead>
      <tbody>        
        <tr>
          <td><%= @quiz.id %></td>
          <td><%= @quiz.title %></td>
          <td><%= @quiz.creator.id %></td>
          <td><%= @quiz.creator.first_name %></td>
          <td><%= @quiz.creator.last_name %></td>
          <td><%= @quiz.creator.email %></td>
          <td>Current Datetime: <%= Time.now.strftime('%Y-%m-%d %H:%M:%S') %></td>
          <td><%= @score %></td>
          <td><%= @quiz.question_count %></td>
        </tr>
      </tbody>
    </table>

    <%# Time.now %>
    <p>Share your results with others:</p>
    <input id="results-link" type="text" value="<%= request.original_url %>" readonly>
    <button id="copy-link-button">Copy Link</button>

    <%= button_to 'Back to Quizzes', quizzes_path, method: :get, class: 'custom-button' %>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const copyLinkButton = document.getElementById('copy-link-button');
        const resultsLinkInput = document.getElementById('results-link');
        
        copyLinkButton.addEventListener('click', function() {
          resultsLinkInput.select();
          document.execCommand('copy');
        });
      });
    </script>

  <% else %>
    <p>Are you ready to see your results?</p>
      <%= form_with url: quiz_statistics_path, method: :post, class: 'custom-form' do |form| %>
  <%= form.hidden_field :test_id, value: @quiz.id.to_i %>
  <%= form.hidden_field :test_title, value: @quiz.title %>
  <%= form.hidden_field :creator_id, value: @quiz.creator.id.to_i %>
  <%= form.hidden_field :creator_first_name, value: @quiz.creator.first_name %>
  <%= form.hidden_field :creator_last_name, value: @quiz.creator.last_name %>
  <%= form.hidden_field :creator_email, value: @quiz.creator.email %>
  <%# @quiz.created_at = Time.now, 1 = @score%>
  <%= form.hidden_field :quiz_take_date, value: @quiz.created_at %>
  <%= form.hidden_field :correct_answers, value: "1".to_i %>
  <%= form.hidden_field :total_questions, value: @quiz.question_count.to_i %>
  
  <%= form.submit 'V.Q.R+create+save', class: 'custom-button' %>
<% end %>

    <%= button_to 'View Quiz Results', quiz_results_path(@quiz), method: :get, class: 'custom-button' %>
  <% end %>
</div>
